@using PersonalFinance.Web.Resources.Login

<form class="form-login" @onsubmit="@HandleLogin">
    <AddText Text="@LoginResources.Login" Preset="TextPreset.Preset1" TagHtml="TagText.H1"/>

    <div class="form-login__inputs">
        <AddInput Label="@LoginResources.Email" @bind-Value="_loginRequest.Email" 
                  IsEmail="true" Required="true" Disabled="_isSubmitting" />
        <AddInput Label="@LoginResources.Password" @bind-Value="_loginRequest.Password" 
                  IsPassword="true" Required="true" Disabled="_isSubmitting"/>

        @foreach (string errorMessage in _errorMessage)
        {
            <AddText Text="@errorMessage" Color="ThemeColor.Red" Preset="TextPreset.Preset5"/>    
        }
    </div>

    <AddButton Text="@(_isSubmitting ? LoginResources.LoggingIn : LoginResources.Login)"
               Variant="ButtonVariant.Primary" Type="submit"
               FullWidth="true" Disabled="_isSubmitting"/>

    <div class="form-login__footer">
        <AddText Text="@LoginResources.NeedAccount" Preset="TextPreset.Preset4" Color="ThemeColor.Grey500"/>
        <AddButton Text="@LoginResources.SignUp" Variant="ButtonVariant.Link" OnClick="@(async _ => await NavigateToSignUp.InvokeAsync())"/>
    </div>
</form>