@using PersonalFinance.Web.Resources.Transactions

<AddModal IsOpen="@IsOpen" Title="@TransactionsResources.AddParticipantTitle" Subtitle="@TransactionsResources.AddParticipantSubtitle"
          OnClose="HandleClose">
    <Body>
        <form class="add-participant-modal" @onsubmit="HandleSubmit" @onsubmit:preventDefault="true">
            <AddInput Label="@TransactionsResources.ParticipantNameLabel" Placeholder="@TransactionsResources.ParticipantNamePlaceholder"
                      @bind-Value="_name" Required="true" Disabled="_isSubmitting"/>

            <AddInput Label="@TransactionsResources.ParticipantImageLabel" Placeholder="https://..."
                      @bind-Value="_image" Disabled="_isSubmitting"/>

            @foreach (string errorMessage in _errorMessages)
            {
                <AddText Text="@errorMessage" Color="ThemeColor.Red" Preset="TextPreset.Preset5Bold"/>
            }

            <AddButton Text="@TransactionsResources.AddParticipantButton" Type="submit" FullWidth="true" Disabled="_isSubmitting"/>
        </form>
    </Body>
</AddModal>
