<form class="form-register-user" @onsubmit="@HandleRegisterUser">
    <AddText Text="Sign Up" Preset="TextPreset.Preset1" TagHtml="TagText.H1"/>

    <div class="form-register-user__inputs">
        <AddInput Label="Name" @bind-Value="_registerUserRequest.Name" 
                  Required="true" Disabled="_isSubmitting" />
        <AddInput Label="Email" @bind-Value="_registerUserRequest.Email"
                  IsEmail="true" Required="true" Disabled="_isSubmitting"/>
        <AddInput Label="Password" @bind-Value="_registerUserRequest.Password"
                  IsPassword="true" Required="true" Disabled="_isSubmitting"
                  HelperText="@(_registerUserRequest.Password.Length < 8 ? "Passwords must be at least 8 characters" : string.Empty)"/>

        @foreach (string errorMessage in _errorMessage)
        {
            <AddText Text="@errorMessage" Color="ThemeColor.Red" Preset="TextPreset.Preset5"/>
        }
    </div>

    <AddButton Text="@(_isSubmitting ? "Logging in..." : "Login")"
               Variant="ButtonVariant.Primary" Type="submit"
               FullWidth="true" Disabled="_isSubmitting"/>

    <div class="form-register-user__footer">
        <AddText Text="Already have an account?" Preset="TextPreset.Preset4" Color="ThemeColor.Grey500"/>
        <AddButton Text="Login" Variant="ButtonVariant.Link" OnClick="@(async _ => await NavigateToLogin.InvokeAsync())"/>
    </div>
</form>