<aside class="nav-menu @(_isCollapsed ? "nav-menu--collapsed" : "")">
    @if (_isCollapsed)
    {
        <img class="nav-menu__icon" src="icons/LogoMini.svg" width="13" height="22" alt="Finance app"/>
    }
    else
    {
        <img class="nav-menu__icon" src="icons/Logo.svg" width="120" height="22" alt="Finance app"/>
    }

    <ul class="nav-menu__links">
        @foreach (NavItem item in NavItems)
        {
            bool isActive = PageActive(route: item.Route);
            <li class="@(isActive ? "link--active" : "link")">
                <a href="@item.Route">
                    <AddIcon Icon="item.Icon" Size="24" Color="@(isActive ? ThemeColor.Green : ThemeColor.Grey300)"/>
                    <div class="text-desktop">
                        <AddText Text="@item.Label" Preset="TextPreset.Preset3" Color="@(isActive ? ThemeColor.Grey900 : ThemeColor.Grey300)"/>
                    </div>
                    <div class="text-mobile">
                        <AddText Text="@item.Label" Preset="TextPreset.Preset5Bold" Color="@(isActive ? ThemeColor.Grey900 : ThemeColor.Grey300)"/>
                    </div>
                </a>
            </li>
        }
    </ul>

    <button type="button" class="nav-menu__toggle @(_isCollapsed ? "nav-menu__toggle--collapsed" : "")" @onclick="ToggleCollapsed">
        <AddIcon Icon="Icon.ARROW_FAT_LINES_LEFT" Size="24" Color="ThemeColor.Grey300"/>
        <AddText Text="Minimize Menu" Preset="TextPreset.Preset3" Color="ThemeColor.Grey300"/>
    </button>
</aside>
