@using PersonalFinance.Communication.Dtos
@using PersonalFinance.Web.Resources.Transactions
@using PersonalFinance.Web.Utils.HandlerFormatAmountTransaction
@using PersonalFinance.Web.Utils.HandlerFormatDateTransaction
@using PersonalFinance.Web.Utils.HandlerNotFound
@using PersonalFinance.Web.Utils.HandlerParticipant

<table class="transactions__table">
    <thead>
    <tr>
        <th>
            <AddText Text="@TransactionsResources.RecipientSender" Preset="TextPreset.Preset5"
                     Color="ThemeColor.Grey500"/>
        </th>
        <th>
            <AddText Text="@TransactionsResources.Category" Preset="TextPreset.Preset5" Color="ThemeColor.Grey500"/>
        </th>
        <th>
            <AddText Text="@TransactionsResources.TransactionDate" Preset="TextPreset.Preset5"
                     Color="ThemeColor.Grey500"/>
        </th>
        <th class="transactions__amount-header">
            <AddText Text="@TransactionsResources.Amount" Preset="TextPreset.Preset5" Color="ThemeColor.Grey500"/>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (TransactionDto transaction in ListTransactions)
    {
        <tr>
            <td>
                <HandlerParticipant Participant="@transaction.ParticipantDto"/>
            </td>
            <td>
                <AddText Text="@(transaction.Category?.Name ?? string.Empty)" Preset="TextPreset.Preset5"
                         Color="ThemeColor.Grey500"/>
            </td>
            <td>
                <HandlerFormatDateTransaction Transaction="@transaction"/>
            </td>
            <td class="transactions__amount-cell">
                <HandlerFormatAmountTransaction Transaction="@transaction"/>
            </td>
        </tr>
    }
    </tbody>
</table>

<ul class="transactions__list">
    @foreach (TransactionDto transaction in ListTransactions)
    {
        <li class="transactions__list-item">
            <HandlerParticipant Participant="@transaction.ParticipantDto" Subtitle="@(transaction.Category?.Name ?? string.Empty)"/>

            <div class="transactions__list-amount">
                <HandlerFormatAmountTransaction Transaction="@transaction"/>
                <HandlerFormatDateTransaction Transaction="@transaction"/>
            </div>
        </li>
    }
</ul>

@if (!ListTransactions.Any())
{
    <HandlerNotFound Text="There is no transaction record."/>
}