@using PersonalFinance.Web.Pages.Login.Components.FormLogin
@using PersonalFinance.Web.Pages.Login.Components.FormRegisterUser
@using PersonalFinance.Web.Resources.Login

<PageTitle>Finance - @(_showPageLogin ? "Login" : "Sign Up")</PageTitle>

<section class="login">
    <div class="login__header">
        <img src="icons/Logo.svg" width="120" height="22" alt="Finance app"/>
    </div>
    
    <div class="login__set-language">
        <AddSetLanguage/>
    </div>

    <div class="login__sidebar">
        <img src="icons/Logo.svg" width="120" height="22" alt="Finance app"/>
        <div class="login__sidebar-text">
            <AddText Text="@LoginResources.SidebarTitle"
                     Preset="TextPreset.Preset1" Color="ThemeColor.White"/>

            <AddText Text="@LoginResources.SidebarSubtitle"
                     Preset="TextPreset.Preset4" Color="ThemeColor.White"/>
        </div>
    </div>

    <AddCard Width="var(--width-card-login)" Padding="var(--padding-card-login)">
        <Body>
        @if (_showPageLogin)
        {
            <FormLogin NavigateToSignUp="@ShowPageRegister"/>
        }

        @if (_showPageRegister)
        {
            <FormRegisterUser NavigateToLogin="@ShowPageLogin"/>
        }
        </Body>
    </AddCard>
</section>
